<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="DXWXeR0S_0tuliVciMyE6A_rtSLNzw8besxx9LZ37k4" />
    {{# if description }}
    <meta name="description" content="{{ description }}">
    {{ else }}
    <meta name="description" content="{{ site.description }}">
    {{/ if }}
    <meta name="theme-color" content="#583154" />

    <style>
         body { margin: 2em;  font-family: Georgia, serif; }
         #content .overview-table tr:hover .refer { color: #4A7500; }
         #content .overview-table .refer { font-size: 11px; color: #f3f3f3; }
         #content .overview-table tr:target td { background-color: #cbe9c7; }
         #content .keyword { font-family: monospace; }
         td { padding-bottom: 5px; }
         td:first-child a { text-decoration: none; font-size: small; }
         td:first-child { font-family: consolas, monospace; }
   </style>

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/assets/ico/icon.ico" />
    <link rel="apple-touch-icon-precomposed" href="assets/ico/favicon-152.png">
</head>
